.new {
	margin-top: 70px;

	@media (max-width: 760px) {
		& {
			margin-top: 40px;
		}
	}
}

.title {
	font-size: 60px;
	color: #444444;
	text-align: center;
}

.text {
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
	font-size: 23px;
	text-decoration: none;
	width: 70%;

	@media (max-width: 760px) {
		& {
			width: 100%;
			padding-top: 0;
		}
	}

	b {
		font-family: 'Roboto', sans-serif;
		color: #e9b370;
		font-size: 20px;
	}
}
