.team {
	width: 100%;
	background-color: #1a1718;
	margin-top: 160px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.title {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.line {
		width: 100%;
		background-color: #e9b370;
		margin: auto 0;
		height: 1px;
		border: none;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		margin: 0 20px;
	}
}

.players {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.player {
	width: 21.5%;
	padding: 10px;

	.image {
		width: 160px;
		height: 160px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	h4 {
		font-size: 26px;
		color: #fff;
		font-weight: 300;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		line-height: 1;
		padding-top: 10px;
	}

	p {
		text-align: center;
		font-size: 17px;
		color: #e9b370;
		padding-top: 10px;
		font-weight: 200;
		font-family: serif;
	}
}
